<section class="accordion-section">
    <div class="wrap">
        {% # Overall introduction for ALL accordion groups %}
        {% if block.intro %}
            <div class="accordion-intro">
                {{ block.intro | markdown }}
            </div>
        {% endif %}
        
        {% # Each group is a subsection %}
        {% for group in block.accordion_groups %}
            <section class="accordion-group">
                {% if group.intro %}
                    <div class="group-intro">
                        {{ group.intro | markdown }}
                    </div>
                {% endif %}
                
                {% # Individual accordion items %}
                {% for item in group.items %}
                    <div class="accordion-row" {% if block.schema %}itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"{% endif %}>
                        <div class="accordion-question">
                            <h3 {% if block.schema %}itemprop="name"{% endif %}>{{ item.question }}</h3>
                            <button class="open-close" aria-expanded="false" aria-controls="answer-{{ forloop.index }}"></button>
                        </div>
                        <div class="accordion-answer" id="answer-{{ forloop.index }}" {% if block.schema %}itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"{% endif %}>
                            <div {% if block.schema %}itemprop="text"{% endif %}>
                                {{ item.answer | markdown }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
</section>