<section class="section cards">
    <div class="wrap">
        <div class="intro">
            {% if block.intro %}
                {{ block.intro | markdown }}
            {% endif %}
        </div>
        <div class="flex f-wrap f-center">
            {% for card in block.cards %}
            <article class="card">
                <img src="" alt="">
                <h3>{{ card.heading }}</h3>
                {{ card.content | markdown }}
                <a class="btn" href="{{ card.url }}" {% if card.new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ card.link_text }}</a>
            </article>
            {% # End loop %}
        </div>
    </div>
</section>